<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxsj.runhdu">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".appfunctions.main.MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".appfunctions.loginregister.WelcomeActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appfunctions.loginregister.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".appfunctions.loginregister.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appfunctions.sunnyrun.SunnyRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appfunctions.running.RunningActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/RunningActivityTheme" />
        <activity
            android:name=".appfunctions.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appfunctions.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".appfunctions.main.RunDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RunningActivityTheme" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fCRQGRdsEz9gG1sOkOW1oZtCGhlSDVGP" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2da223bb6f1dc069d0bb68ac39963290" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".appfunctions.about.FeedbackActivity" />
        <activity
            android:name=".appfunctions.about.HelpActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.SocialService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".appfunctions.friend.FriendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".appfunctions.friend.FriendApplyBoxActivity" />
        <activity
            android:name=".appfunctions.friend.FriendDetailsActivity"
            android:theme="@style/FriendDetailsActivityTheme" />
        <activity android:name=".appfunctions.lab.LabActivity"></activity>
    </application>

</manifest>